<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Filmothèque</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="content">
    <h1>Ajouter un avis au film : <span th:text="${movie.title}"></span></h1>

    <form th:action="@{add(id=${movie.id})}" th:object="${opinion}" method="post">
        <div th:replace="~{fragments/opinion :: opinion}" th:object="${opinion}"></div>
        <button type="submit">Enregistrer</button>
    </form>
</div>
</body>
</html>