<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<div th:fragment="header">
    <nav>
        <ul>
            <li>
                <h2 class="nav-h2">
                  <a th:href="@{/}" th:text="#{nav.h1}"></a>
                    <th:block th:href="@{/}" th:text="${session.memberLogged != null ? '[' + session.memberLogged.userName  + ']': ''}"></th:block>
                </h2>
            </li>
            <li class="menu-deroulant">
                <a th:href="@{/movies}" th:text="#{nav.movies}">Films</a>
                <ul class="sous-menu">
                    <li><a th:href="@{/movies/add}" th:text="#{nav.movies.add}">Ajouter</a></li>
                    <li><a href="#">tousdoux</a></li>
                    <li><a href="#">tousdoux</a></li>
                </ul>
            </li>
            <li class="menu-deroulant">
                <a href="#">TODO</a>
                <ul class="sous-menu">
                    <li><a href="#">tousdoux</a></li>
                    <li><a href="#">tousdoux</a></li>
                </ul>
            </li>
            <li><a th:if="${session.memberLogged == null}" th:href="@{/login}" th:text="#{nav.login}">Connexion</a></li>
            <li><a th:if="${session.memberLogged != null}" th:href="@{/logout}" th:text="#{nav.logout}">Déconnexion</a></li>
            <li>
                <div class="nav-langue">
                    <a href="/?language=fr"><img class="img-langue" alt="Français" src="/images/French.webp"></a>
                    <a href="/?language=en"><img class="img-langue" alt="English" src="/images/English.webp"></a>
                </div>
            </li>
        </ul>
    </nav>
</div>

</body>
</html>