<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Filmothèque</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>

<div th:fragment="movie">
    <label>
        Titre :
        <input type="text" name="title" required>
    </label>

    <label>
        Année de sortie :
        <input type="number" name="year" required min="1800" max="2050">
    </label>

    <label>
        Réalisateur :
        <select th:field="*{director}" required>
            <option th:each="participant : ${participantsList}"
                    th:value="${participant.id}"
                    th:text="${participant.lastName} + ' ' +${participant.firstName}"></option>
        </select>
    </label>

    <label>
        Durée :
        <input type="number" name="duration" required min="1" max="2000">
    </label>

    <label>
        Genre :
        <select th:field="*{genre}" required>
            <option th:each="genre : ${genreList}"
                    th:value="${genre.id}"
                    th:text="${genre.name}">

            </option>
        </select>
    </label>

    <label>
        Synopsis :
        <textarea name="synopsis" required minlength="1" maxlength="250"></textarea>
    </label>

    <label>
        Acteur :
        <select th:field="*{actors}" multiple>
            <option th:each="participant : ${participantsList}"
                    th:value="${participant.id}"
                    th:text="${participant.lastName} + ' ' +${participant.firstName}"></option>
        </select>
    </label>
</div>

</body>
</html>