<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Filmothèque</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>

<div th:fragment="movie" >
    <!-- Affichage d'un message global s'il y a des erreurs -->
    <div class="cards" th:if="${#fields.hasErrors('*')}" >
        <h2>Veuillez vérifier vos champs</h2>
    </div>

    <label>
        Titre :
<!--        <input type="text" name="title" th:value="*{title}">-->
<!--  A la place de name et th:value => utiliser th:field      -->
        <input type="text" th:field="*{title}">
    </label>
    <!-- Affichage de la liste des messages d'erreur liée au champ courant -->
    <ul class="cards" th:if="${#fields.hasErrors('title')}">
        <li th:each="err: ${#fields.errors('title')}" th:text="${err}"></li>
    </ul>

    <label>
        Année de sortie :
        <input type="number" name="year" required min="1800" max="2050" th:value="*{year}">
    </label>
    <ul class="cards" th:if="${#fields.hasErrors('year')}">
        <li th:each="err: ${#fields.errors('year')}" th:text="${err}"></li>
    </ul>

    <label>
        Réalisateur :
        <select th:field="*{director}" required>
            <option th:each="participant : ${participantsList}"
                    th:value="${participant.id}"
                    th:text="${participant.lastName} + ' ' +${participant.firstName}"></option>
        </select>
    </label>
    <ul class="cards" th:if="${#fields.hasErrors('director')}">
        <li th:each="err: ${#fields.errors('director')}" th:text="${err}"></li>
    </ul>

    <label>
        Durée :
        <input type="number" name="duration" required min="1" max="2000" th:value="*{duration}">
    </label>
    <ul class="cards" th:if="${#fields.hasErrors('duration')}">
        <li th:each="err: ${#fields.errors('duration')}" th:text="${err}"></li>
    </ul>

    <label>
        Genre :
        <select th:field="*{genre}" required>
            <option th:each="genre : ${genreList}"
                    th:value="${genre.id}"
                    th:text="${genre.name}">
            </option>
        </select>
    </label>
    <ul class="cards" th:if="${#fields.hasErrors('genre')}">
        <li th:each="err : ${#fields.errors('genre')}" th:text="${err}"></li>
    </ul>

    <label>
        Synopsis :
        <textarea name="synopsis" required minlength="1" maxlength="250" th:text="*{synopsis}"></textarea>
    </label>
    <ul class="cards" th:if="${#fields.hasErrors('synopsis')}">
        <li th:each="err: ${#fields.errors('synopsis')}" th:text="${err}"></li>
    </ul>

    <label>
        Acteur :
        <select th:field="*{actors}" multiple>
            <option th:each="participant : ${participantsList}"
                    th:value="${participant.id}"
                    th:text="${participant.lastName} + ' ' +${participant.firstName}"></option>
        </select>
    </label>
    <ul class="cards" th:if="${#fields.hasErrors('actors')}">
        <li th:each="err: ${#fields.errors('actors')}" th:text="${err}"></li>
    </ul>
</div>

</body>
</html>