<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Filmothèque</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="content">
    <h1 th:text="#{viewloginform.h1}">Se connecter</h1>
    <form th:action="@{/login}" th:object="${member}" method="post">

        <div class="container">
            <label for="uname"><b th:text="#{viewloginform.login}">Username</b>
                <input type="text" id="uname" required
                       th:field="*{login}">
            </label>
            <label for="psw"><b th:text="#{viewloginform.password}">Password</b>
                <input type="password" id="psw" required name="password"
                       th:field="*{password}">
            </label>
            <button type="submit" th:text="#{viewloginform.submit}">Login</button>
<!--            <label>-->
<!--                <input type="checkbox" checked="checked" id="remember"> Remember me-->
<!--            </label>-->
        </div>

<!--        <div class="container" style="background-color:#f1f1f1">-->
<!--            <button type="button" class="cancelbtn">Cancel</button>-->
<!--            <span class="psw">Forgot <a href="#">password?</a></span>-->
<!--        </div>-->
    </form>
</div>


</body>
</html>