<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Filmothèque</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="content">

    <h1>POC ElementCollection - Hobbies</h1>
    <form th:action="@{/hobbies/add}" th:object="${memberLogged}" method="post">
        <input type="text" name="firstName" th:value="*{firstName}">
        <input type="text" name="lastName" th:value="*{lastName}">
        <input type="text" name="login" th:value="*{login}">
        <input type="text" name="password" th:value="*{password}">
        <input type="text" name="isAdmin" th:value="*{isAdmin}">
        <!--        <select th:field="*{hobbies}" multiple>
                    <option th:text="Sport" th:value="Sport"></option>
                    <option th:text="Cinéma" th:value="Cinéma"></option>
                    <option th:text="Miam" th:value="Miam"></option>
                </select>-->
        <input type="checkbox" name="hobbies"
               th:each="hobby,stat : ${hobbiesList}"
               th:text="${hobby}"
               th:value="${hobby}"
               th:field="*{hobbies}"
        />


        <input type="submit">
    </form>
</div>


</body>
</html>